@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Share+Tech&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
button,
span {
  font-family: "Share Tech", sans-serif;
}

p,
li,
td {
  font-family: "Lexend", sans-serif;
}

tr {
  font-size: 12px;
}

.active {
  color: #008080;
  border-bottom: 2px solid #008080;
}
